.box {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  
  border-left: 8px solid lightgrey;
  border-right: 8px solid grey;
  border-bottom: 8px solid grey;
  border-top: 8px solid lightgrey;
  
  font-weight: 600;  
  font-size: 50px;
  font-family: sans-serif;
}